.menu-header{
    background-color: #483D8B;
    overflow: auto;
    white-space: nowrap;
}

.category-header {
    background-color: #4B0082;
    overflow: auto;
    white-space: nowrap;
}

.menu-group.ui.button, .menu-group.ui.button.highlight{
    display: inline-block;
    padding: 15px;
    color: #F5F5F5;
    background-color: #483D8B;
    text-transform: uppercase;
    font-weight:normal;
}

.menu-group.ui.button.highlight{
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.category.ui.button, .category.ui.button.highlight{
    display: inline-block;
    padding: 15px;
    color: white;
    background-color: #4B0082;
}

.category.ui.button.highlight{
    text-decoration: underline;
}

body{
    background-color: #ebd9f0;
}

.item{
    display: inline-block;
    width: 45%;
    height: 150px;
    border-radius: 5px;
    color: #4B0082;
    background-color: white;
    margin: 10px;
}

.item-text{
    height:150px;
    width: 50%;
    padding: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-image{
    height: 150px;
    float: right;
    display: inline-block;
}

.item-image > img {
    border-radius: 0 5px 5px 0;
}